.swiper {
}

.swiper-slide {
  //   transition: transform 0.4s ease;
  //   transform: scale(0.75);
}

/* Увеличиваем центральный слайд */
.swiper-slide-active {
  //   transform: scale(1);
  //   z-index: 5;
}

/* Можно увеличить соседние */
.swiper-slide-next,
.swiper-slide-prev {
}
