.swiper {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.swiper-slide {
  width: 260px;
  height: 260px;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.4s ease;
  transform: scale(0.75);
}

/* Увеличиваем центральный слайд */
.swiper-slide-active {
  transform: scale(1);
  z-index: 5;
}

/* Можно увеличить соседние */
.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.85);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
