[data-fls-darklite-light] {
  transition: background-color 0.5s ease, color 0.5s ease;
  body {
    background-color: $bgColor;
  }

  .menu {
    &__body {
      @media (max-width: toEm($mobile)) {
        background-color: rgba(32, 38, 56);
      }
    }
  }
}

[data-fls-darklite-dark] {
  transition: background-color 0.5s ease, color 0.5s ease;

  body {
    background-color: $mainColor;
  }

  .header {
    &__body {
      &::before {
        backdrop-filter: blur(40px);
        background: rgba(212, 216, 227, 0.65);
      }
    }

    &__logo {
      color: $mainColor;
      &::before {
        content: url('@img/logo-header-dark.svg');
      }
    }
  }

  .menu {
    &__body {
      @media (max-width: toEm($tablet)) {
        background-color: #59636f;
      }
    }

    &__item {
      color: $mainColor;
      @media (max-width: toEm($tablet)) {
        color: $lightTextColor;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $hoverColor;
        }
      }

      &:last-child {
        color: $mainColor;

        @media (any-hover: hover) {
          &:hover {
            background-color: $hoverColor;
          }
        }
      }
    }
  }

  .hero {
    &__title {
      color: $lightTextColor;
    }
  }

  .theme-toggle {
    &__btn {
      background-color: rgba(212, 216, 227, 0.65);

      .theme-toggle__icon--moon {
        transform: translateX(
          24px
        ); // 60 - 32 - (2px*2) = 24px свободного пространства
        opacity: 0;

        @media (max-width: toEm($tablet)) {
          transform: translateX(16px);
        }
      }

      .theme-toggle__icon--sun {
        transform: translateX(24px);
        opacity: 1;

        @media (max-width: toEm($tablet)) {
          transform: translateX(16px);
        }
      }
    }

    &__icon {
      color: $lightTextColor;
      background-color: $mainColor;
    }
  }

  .about {
    &__title {
      color: #7a7f8e;
      span {
        color: $lightTextColor;
      }
    }

    // .about__card
    &__card {
      color: $lightTextColor;
      background-color: rgba(212, 216, 227, 0.1);
    }

    .item-about {
      background-color: rgba(212, 216, 227, 0.45);

      &__icon {
        color: $mainColor;
      }

      &__title {
        color: $mainColor;
      }
    }
  }

  .project {
    // .project__arrow

    &__arrow {
      background: #444f5f url('@img/arrow-left-light.svg') center no-repeat;
      // .project__arrow--left

      &--left {
      }

      // .project__arrow--right

      &--right {
      }
    }

    // .project__bullets

    &__bullets {
      .swiper-pagination-bullet {
      }

      .swiper-pagination-bullet-active {
        background-color: $orangeColor;
      }
    }
  }
}
