// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: 'JetBrains Mono', sans-serif; // Шрифт за замовчуванням
$fontSecondary: 'Geist', sans-serif; // Другорядний шрифт
$fontSize: 24; // Розмір шрифту за замовченням (де 24 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #202638; // Колір шрифту за замовчуванням
$bgColor: #d4d8e3; // Колір фону за замовчуванням
$lightTextColor: #d4d8e3; // Колір світлого тексту
$orangeColor: #e4735c;
$hoverColor: #a3cc7a;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1448;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
