.header {
  position: fixed;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;

  @media (max-width: toEm($tablet)) {
    top: 16px;
  }

  // .header__content
  &__content {
  }

  // .header__container
  &__container {
    pointer-events: auto;
    padding: 0;

    @media (max-width: toEm($tablet)) {
      padding: 0 32px;
    }
    @media (max-width: toEm($mobile)) {
      padding: 0 16px;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include adaptiveValue('font-size', 32, 24);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.07em;
    color: $lightTextColor;

    &::before {
      content: url('@img/logo-header.svg');
      width: 32px;
      height: 32px;
      text-align: center;
      align-content: center;
      margin-right: 3px;
    }
  }

  &__body {
    @include adaptiveValue('padding', 16, 12);

    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(32, 38, 56, 0.75);
      backdrop-filter: blur(30px);
      border-radius: 16px;
      z-index: 5;
    }

    @media (min-width: toEm($tablet)) {
      gap: 128px;
    }
  }

  @media (min-width: toEm($tablet)) {
    display: flex;
    justify-content: center;
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// theme-switcher

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  @media (min-width: toEm($tablet)) {
    /* 
      Когда viewport шире 1448px — 
      toggle не движется дальше, остаётся у края контейнера.
    */

    right: clamp(32px, calc((100vw - 1448px) / 2), 9999px);
  }

  /* --- Кнопка переключения темы --- */
  &__btn {
    position: relative;
    width: 60px;
    height: 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(32, 38, 56, 0.75);
    backdrop-filter: blur(30px);
  }

  /* --- Кружок-бегунок --- */
  &__icon {
    position: absolute;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: rgba(212, 216, 227, 0.75);
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition:
      transform 0.3s ease,
      background-color 0.3s ease;

    /* Псевдоэлемент-иконка */

    &::before {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      /* Иконка светлой темы */
      background-image: url('@img/moon.svg');
    }
  }

  /* Адаптив — маленькая таблетка */

  @media (max-width: toEm($tablet)) {
    right: 76px;

    &__btn {
      width: 44px;
      height: 28px;
    }

    &__icon {
      width: 24px;
      height: 24px;

      &::before {
        content: '';

        width: 21px;
        height: 21px;
      }
    }
  }
}
