.header {
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;

  @media (min-width: toEm($mobile)) {
    top: 32px;
  }

  // .header__container
  &__container {
    pointer-events: auto;
  }

  &__logo {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
  }

  &__logo-text {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.07em;
    color: white;
    @include adaptiveValue('font-size', 32, 24);
    @include adaptiveValue('font-weight', 700, 500);
  }

  &__body {
    padding: 16px;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(32, 38, 56, 0.75);
      backdrop-filter: blur(30px);
      border-radius: 16px;
      z-index: 5;
    }

    @media (min-width: toEm($mobile)) {
      gap: 128px;
    }
  }

  @media (min-width: toEm($mobile)) {
    display: flex;
    justify-content: center;
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// theme-switcher

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__btn {
    position: relative;
    width: 60px;
    height: 36px;
    border: none;
    border-radius: 50px;
    background-color: #4b4f58;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #222;
    transition: transform 0.5s ease, opacity 0.5s ease,
      background-color 0.5s ease;
  }

  &__icon--sun {
    opacity: 0;
    transform: translateX(0);
  }

  // Светлая тема (луна слева)
  [data-fls-darklite-light] &__btn {
    background-color: rgba(32, 38, 56, 0.75);

    .theme-toggle__icon--moon {
      transform: translateX(0);
      opacity: 1;
    }

    .theme-toggle__icon--sun {
      transform: translateX(0);
      opacity: 0;
    }
  }

  // Тёмная тема (солнце справа)
  [data-fls-darklite-dark] &__btn {
    background-color: rgba(89, 99, 111, 0.75);

    .theme-toggle__icon--moon {
      transform: translateX(
        24px
      ); // 60 - 32 - (2px*2) = 24px свободного пространства
      opacity: 0;
    }

    .theme-toggle__icon--sun {
      transform: translateX(24px);
      opacity: 1;
    }
  }
}
