<header
  data-fls-header
  data-fls-header-scroll
  data-fls-header-scroll-show="1000"
  class="header"
>
  <div class="header__content">
    <div class="header__container">
      <div class="header__body">
        <a class="header__logo">YevGenes</a>
        <include
          src="@components/layout/menu/menu.html"
          locals='{"active":"[[active]]"}'
        ></include>
      </div>

      <!-- Перемикач мови (desktop тут, mobile переміститься в меню) -->
      <button
        type="button"
        class="lang-switch"
        id="lang-switch"
        data-fls-dynamic=".menu__body,991.98"
      >
        <span class="lang-switch__text lang-switch__text--to-uk" data-lang="uk"
          >UA</span
        >
        <span class="lang-switch__text lang-switch__text--to-en" data-lang="en"
          >EN</span
        >
      </button>

      <!-- Перемикач теми -->

      <div class="theme-toggle" data-fls-dynamic=".header__body,991.98">
        <button
          class="theme-toggle__btn"
          data-fls-darklite-set
          aria-label="Toggle theme"
        >
          <span class="theme-toggle__icon"></span>
        </button>
      </div>
    </div>
  </div>
</header>
