// .hero {
//   text-align: center;
//   min-height: 55svh;

//   @include adaptiveValue('padding-top', 208, 258);

//   &::before {
//     content: '';
//     position: absolute;
//     inset: 0;
//     background: url('@img/network.svg') center/cover no-repeat;
//     opacity: 0.8;
//     z-index: 0;
//     pointer-events: none;
//   }

//   &__container {
//     position: relative;
//     z-index: 1; // контент поверх сетки
//   }

//   &__header {
//     text-align: center;
//     display: grid;
//     justify-items: center;
//     @include adaptiveValue('gap', 8, 4);
//     max-width: 884px;
//   }

//   &__subtitle {
//     font-weight: 400;
//     letter-spacing: -0.07em;
//     text-transform: uppercase;
//     text-align: center;
//     color: $orangeColor;
//     @include adaptiveValue('font-size', 24, 16);
//   }

//   &__title {
//     font-family: $fontSecondary;
//     font-weight: 400;

//     line-height: 1.1;
//     letter-spacing: -0.05em;
//     color: $mainColor;
//     text-align: center;
//     @include adaptiveValue('font-size', 112, 48);

//     @media (max-width: $tablet) {
//       display: flex;
//       flex-direction: column;
//       gap: 8px; // уменьшаем расстояние между элементами
//       span {
//         width: 48px;
//         height: 48px;
//       }
//     }

//     strong {
//       font-family: $fontFamily;
//       font-weight: 700;
//       letter-spacing: -0.07em;
//       color: $orangeColor;
//       display: inline-flex;
//       align-items: center;
//       justify-content: center;
//       gap: 16px;
//     }

//     span {
//       display: inline-flex;
//       align-items: center;
//       justify-content: center;
//       width: 64px;
//       height: 64px;
//       flex-shrink: 0;

//       svg {
//         width: 100%;
//         height: 100%;
//         display: block; // убираем лишние отступы SVG
//       }
//     }
//   }

//   &__text {
//     font-family: $fontSecondary;
//     font-weight: 400;
//     @include adaptiveValue('font-size', 112, 48);
//     line-height: 1.1;
//     letter-spacing: -0.05em;
//     color: #7b808d;
//   }
// }

.page {
  // .page--home

  &--home {
  }

  // .page__hero

  &__hero {
  }
}
.hero {
  text-align: center;
  @include adaptiveValue('padding-top', 208, 258);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('@img/network.svg') center/cover no-repeat;
    opacity: 0.8;
    z-index: 0;
    pointer-events: none;
  }

  // .hero__container

  &__container {
  }

  // .hero__header

  &__header {
  }

  // .hero__subtitle

  &__subtitle {
  }

  // .hero__title

  &__title {
  }

  // .hero__text

  &__text {
  }
}
