.hero {
  @include adaptiveValue('padding-top', 210, 194);
  text-align: center;
  z-index: 1;

  &__container {
  }

  &__header {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  &__subtitle {
    font-weight: 400;
    letter-spacing: -0.07em;
    line-height: 1.35;
    text-transform: uppercase;
    color: $orangeColor;
    @include adaptiveValue('font-size', 24, 16);
    margin-bottom: 4px;
  }

  &__title {
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: $mainColor;
    @include adaptiveValue('font-size', 112, 48);

    @media (min-width: toEm($tablet)) {
      margin-bottom: -16px;
    }

    // Группа слов + иконка
    &-group {
      margin-top: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      color: $orangeColor;
      font-family: $fontFamily;
      font-weight: 700;
      letter-spacing: -0.07em;
      @include adaptiveValue('font-size', 112, 48);

      // На мобильных — перенос в колонку
      @media (max-width: toEm($tablet)) {
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include adaptiveValue('width', 64, 32);
    @include adaptiveValue('height', 64, 32);
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__word {
    display: inline-block;
  }

  &__text {
    position: relative;
    display: inline-block;
    font-family: $fontSecondary;
    font-weight: 400;
    color: #7a808d;
    @include adaptiveValue('font-size', 112, 48);
    line-height: 1.1;
    letter-spacing: -0.05em;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      padding-top: 12px;
      transform: translateX(-50%);
      width: 100%; // линия равна ширине текста!
      height: 30px; // можно адаптировать
      background: url('@img/lines.svg') center/contain no-repeat;
      opacity: 0.9;
      pointer-events: none;
    }

    /* темна лінія */
    [data-fls-darklite-dark] &::after {
      background: url('@img/lines-dark.svg') center/contain no-repeat;
    }
  }
}

// =================================================================================================================================================================

// .project {
//   padding-top: 128px;
//   padding-bottom: 128px;
//   // .project__container

//   &__container {
//   }

//   // .project__slider

//   &__slider {
//   }

//   // .project__slider-wrapper

//   &__slider-wrapper {
//   }

//   // .project__slider-card

//   &__slider-card {
//   }
// }

// .card-slide {
//   border-radius: 24px;
//   overflow: hidden;
//   // .card-slide__img

//   &__img {
//     border-radius: 24px;
//     overflow: hidden;

//     img {
//       width: 100%;
//       height: auto;
//       display: block;
//     }
//   }

//   // .card-slide__content

//   &__content {
//   }
// }

// .content-slide {
//   position: absolute;
//   left: 16px;
//   right: 16px;
//   bottom: 16px;
//   color: #ffffff;
//   // .content-slide__text

//   &__text {
//   }

//   // .content-slide__tag

//   &__tag {
//   }

//   // .content-slide__title

//   &__title {
//   }

//   // .content-slide__link

//   &__link {
//   }
// }

// ==================

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 128px;
  padding-bottom: 128px;

  // .project__slider
  &__slider {
    width: 100%;
    height: 80vh;
  }

  // .project__wrapper

  &__wrapper {
  }

  // .project__slide

  &__slide {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 rgba(32, 38, 56, 0.15),
      0 0 8px 0 rgba(32, 38, 56, 0.15);
  }

  &__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    filter: grayscale(1);
  }

  // .project__slide-img

  &__slide-img {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    transition: 0.5s;
  }

  // .project__slide-content

  &__slide-content {
  }
}

.content-slide {
  // .content-slide__title

  &__title {
  }
}

.swiper {
}
.swiper-wrapper {
}

.swiper-slide-active .project__slide-img {
  transform: scale(1);
}

.swiper-slide-active img {
  filter: grayscale(0);
}

.swiper-slide-active .content-slide {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  padding: 16px;
  color: #fff;
  background-color: gray;
  z-index: 2;
}
