.hero {
  @include adaptiveValue('padding-top', 210, 194);
  text-align: center;
  z-index: 1;

  &__container {
  }

  &__header {
    display: grid;
    justify-items: center;
  }

  &__subtitle {
    font-weight: 400;
    letter-spacing: -0.07em;
    line-height: 1.35;
    text-transform: uppercase;
    color: $orangeColor;
    @include adaptiveValue('font-size', 24, 16);
    margin-bottom: 4px;
  }

  &__title {
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: $mainColor;
    @include adaptiveValue('font-size', 112, 48);

    @media (min-width: toEm($tablet)) {
      margin-bottom: -16px;
    }

    // Группа слов + иконка
    &-group {
      margin-top: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      color: $orangeColor;
      font-family: $fontFamily;
      font-weight: 700;
      letter-spacing: -0.07em;
      @include adaptiveValue('font-size', 112, 48);

      // На мобильных — перенос в колонку
      @media (max-width: toEm($tablet)) {
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include adaptiveValue('width', 64, 32);
    @include adaptiveValue('height', 64, 32);
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__word {
    display: inline-block;
  }

  &__text {
    position: relative;
    display: inline-block;
    font-family: $fontSecondary;
    font-weight: 400;
    color: #7a808d;
    @include adaptiveValue('font-size', 112, 48);
    line-height: 1.1;
    letter-spacing: -0.05em;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      padding-top: 12px;
      transform: translateX(-50%);
      width: 100%; // линия равна ширине текста!
      height: 30px; // можно адаптировать
      background: url('@img/lines.svg') center/contain no-repeat;
      opacity: 0.9;
      pointer-events: none;
    }

    /* темна лінія */
    [data-fls-darklite-dark] &::after {
      background: url('@img/lines-dark.svg') center/contain no-repeat;
    }
  }
}
