<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<main class="page page--home">
  <section class="page__hero hero">
    <div class="hero__container">
      <div class="hero__header">
        <span class="hero__subtitle"> {ПІД ВАШІ ПОТРЕБИ} </span>

        <h1 class="hero__title">
          <span class="hero__title-top">Розробка</span>
          <br />
          <strong class="hero__title-group">
            <span class="hero__word">КАСТОМ</span>
            <span class="hero__icon" aria-hidden="true">
              <img src="@img/icons/Globe.svg" alt="" />
            </span>
            <span class="hero__word">ВЕБСАЙТІВ</span>
          </strong>
        </h1>

        <div class="hero__text">
          <p>з нуля</p>
        </div>
      </div>
    </div>
  </section>

  <section class="project">
    <!-- Swiper -->

    <div class="project__container">
      <div data-fls-slider class="project__slider swiper mySwiper">
        <div class="project__slider-wrapper swiper-wrapper">
          <a
            href="https://sokiryanin.github.io/home-service/"
            class="swiper-slide project__slider-slide slide-project"
          >
            <div class="slide-project__inner">
              <div class="slide-project__picture">
                <img
                  class="slide-project__image"
                  src="@img/work-2.jpg"
                  alt="preliminary site image"
                  fetchpriority="high"
                />
              </div>

              <div class="slide-project__info slide-project__info--light">
                <div class="slide-project__info-text">
                  <p>{Розробка}</p>
                  <h2 class="slide-project__title">Сервіс Лендінг</h2>
                </div>
                <div class="slide-project__btn">
                  <span class="slide-project__btn--text">Перейти</span>
                  <svg class="slide-project__btn--icon">
                    <use href="@img/sprite/sprite.svg#icon-link"></use>
                  </svg>
                </div>
              </div>
            </div>
          </a>

          <a
            href="https://portfolio-smoky-six-13.vercel.app/"
            class="swiper-slide project__slider-slide slide-project"
          >
            <div class="slide-project__inner">
              <div class="slide-project__picture">
                <img
                  class="slide-project__image"
                  src="@img/work-1.jpg"
                  alt="preliminary site image"
                />
              </div>
              <div class="slide-project__info slide-project__info--light">
                <div class="slide-project__info-text">
                  <p>{Розробка}</p>
                  <h2 class="slide-project__title">Лендінг дизайнера</h2>
                </div>
                <div class="slide-project__btn">
                  <span class="slide-project__btn--text">Перейти</span>
                  <svg class="slide-project__btn--icon">
                    <use href="@img/sprite/sprite.svg#icon-link"></use>
                  </svg>
                </div>
              </div>
            </div>
          </a>

          <a
            href="https://sokiryanin.github.io/fesmeble/index.html"
            class="swiper-slide project__slider-slide slide-project"
          >
            <div class="slide-project__inner">
              <div class="slide-project__picture">
                <img
                  class="slide-project__image"
                  src="@img/work-4.jpg"
                  alt="preliminary site image"
                />
              </div>

              <div class="slide-project__info slide-project__info--light">
                <div class="slide-project__info-text">
                  <p>{Розробка}</p>
                  <h2 class="slide-project__title">Меблі під замовлення</h2>
                </div>
                <div class="slide-project__btn">
                  <span class="slide-project__btn--text">Перейти</span>
                  <svg class="slide-project__btn--icon">
                    <use href="@img/sprite/sprite.svg#icon-link"></use>
                  </svg>
                </div>
              </div>
            </div>
          </a>
          <a
            href="https://sokiryanin.github.io/home-service/"
            class="swiper-slide project__slider-slide slide-project"
          >
            <div class="slide-project__inner">
              <div class="slide-project__picture">
                <img
                  class="slide-project__image"
                  src="@img/work-2.jpg"
                  alt="preliminary site image"
                  fetchpriority="high"
                />
              </div>

              <div class="slide-project__info slide-project__info--light">
                <div class="slide-project__info-text">
                  <p>{Розробка}</p>
                  <h2 class="slide-project__title">Сервіс Лендінг</h2>
                </div>
                <div class="slide-project__btn">
                  <span class="slide-project__btn--text">Перейти</span>
                  <svg class="slide-project__btn--icon">
                    <use href="@img/sprite/sprite.svg#icon-link"></use>
                  </svg>
                </div>
              </div>
            </div>
          </a>

          <a
            href="https://portfolio-smoky-six-13.vercel.app/"
            class="swiper-slide project__slider-slide slide-project"
          >
            <div class="slide-project__inner">
              <div class="slide-project__picture">
                <img
                  class="slide-project__image"
                  src="@img/work-1.jpg"
                  alt="preliminary site image"
                />
              </div>
              <div class="slide-project__info slide-project__info--light">
                <div class="slide-project__info-text">
                  <p>{Розробка}</p>
                  <h2 class="slide-project__title">Лендінг дизайнера</h2>
                </div>
                <div class="slide-project__btn">
                  <span class="slide-project__btn--text">Перейти</span>
                  <svg class="slide-project__btn--icon">
                    <use href="@img/sprite/sprite.svg#icon-link"></use>
                  </svg>
                </div>
              </div>
            </div>
          </a>

          <a
            href="https://sokiryanin.github.io/fesmeble/index.html"
            class="swiper-slide project__slider-slide slide-project"
          >
            <div class="slide-project__inner">
              <div class="slide-project__picture">
                <img
                  class="slide-project__image"
                  src="@img/work-4.jpg"
                  alt="preliminary site image"
                />
              </div>

              <div class="slide-project__info slide-project__info--light">
                <div class="slide-project__info-text">
                  <p>{Розробка}</p>
                  <h2 class="slide-project__title">Меблі під замовлення</h2>
                </div>
                <div class="slide-project__btn">
                  <span class="slide-project__btn--text">Перейти</span>
                  <svg class="slide-project__btn--icon">
                    <use href="@img/sprite/sprite.svg#icon-link"></use>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="project__controls">
        <button
          class="project__arrow project__arrow--left"
          type="button"
          aria-label="Previous slide"
        ></button>

        <div class="project__bullets"></div>

        <button
          class="project__arrow project__arrow--right"
          type="button"
          aria-label="Next slide"
        ></button>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="about__container">
      <h2 data-fls-watcher data-fls-watcher-once class="about__title">
        Що <span>ми </span>робимо <span>?</span>
      </h2>

      <ul data-fls-watcher data-fls-watcher-once class="about__cards">
        <li class="about__card card-about">
          <div class="card-about__block">
            <p class="card-about__tag">{Продуманий}</p>
            <h3 class="card-about__title">Веб-дизайн</h3>
            <p class="card-about__text">
              Зрозумілих, простих та зручних інтерфейсів для комфортного
              використання вашими клієнтами.
            </p>
          </div>
        </li>
        <li class="about__card card-about">
          <div class="card-about__block">
            <p class="card-about__tag">{Надійну}</p>
            <h3 class="card-about__title">Розробку</h3>
            <p class="card-about__text">
              Індивідуальних рішень для задоволення потреб вашого бізнесу.
              Базується на найкращих практиках.
            </p>
          </div>
        </li>
        <li class="about__card card-about">
          <div class="card-about__block">
            <p class="card-about__tag">{Ефективну}</p>
            <h3 class="card-about__title">Рекламу</h3>
            <p class="card-about__text">
              Google Ads та SEO для покращення вашої ефективності в інтернеті,
              швидких та тривалих результатів.
            </p>
          </div>
        </li>
      </ul>

      <div data-fls-watcher data-fls-watcher-once class="about__items">
        <div class="about__item item-about">
          <div class="item-about__img">
            <svg class="item-about__icon">
              <use href="@img/skills/symbol-defs.svg#icon-store"></use>
            </svg>
          </div>
          <div class="item-about__title">
            <p>Онлайн-магазини</p>
          </div>
        </div>

        <div class="about__item item-about">
          <div class="item-about__img">
            <svg class="item-about__icon">
              <use href="@img/skills/symbol-defs.svg#icon-app"></use>
            </svg>
          </div>
          <div class="item-about__title">
            <p>Веб-додатки</p>
          </div>
        </div>

        <div class="about__item item-about">
          <div class="item-about__img">
            <svg class="item-about__icon">
              <use href="@img/skills/symbol-defs.svg#icon-landing"></use>
            </svg>
          </div>
          <div class="item-about__title">
            <p>Лендінги</p>
          </div>
        </div>

        <div class="about__item item-about">
          <div class="item-about__img">
            <svg class="item-about__icon">
              <use href="@img/skills/symbol-defs.svg#icon-card"></use>
            </svg>
          </div>
          <div class="item-about__title">
            <p>Сайти-візитівки</p>
          </div>
        </div>

        <div class="about__item item-about">
          <div class="item-about__img">
            <svg class="item-about__icon">
              <use href="@img/skills/symbol-defs.svg#icon-port"></use>
            </svg>
          </div>
          <div class="item-about__title">
            <p>Портфоліо</p>
          </div>
        </div>

        <div class="about__item item-about">
          <div class="item-about__img">
            <svg class="item-about__icon">
              <use href="@img/skills/symbol-defs.svg#icon-blog"></use>
            </svg>
          </div>
          <div class="item-about__title">
            <p>Блоги</p>
          </div>
        </div>

        <div class="about__item item-about">
          <div class="item-about__img">
            <svg class="item-about__icon">
              <use href="@img/skills/symbol-defs.svg#icon-inform"></use>
            </svg>
          </div>
          <div class="item-about__title">
            <p>Інформаційні</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
