.hero {
  @include adaptiveValue('padding-top', 208, 144);
  text-align: center;
  z-index: 1;

  &__container {
  }

  &__header {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  &__subtitle {
    font-weight: 400;
    letter-spacing: -0.07em;
    line-height: 1.35;
    text-transform: uppercase;
    color: $orangeColor;
    @include adaptiveValue('font-size', 24, 16);
    margin-bottom: 4px;
  }

  &__title {
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: $mainColor;
    @include adaptiveValue('font-size', 112, 48);

    @media (min-width: toEm($tablet)) {
      margin-bottom: -16px;
    }

    // Группа слов + иконка
    &-group {
      margin-top: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      color: $orangeColor;
      font-family: $fontFamily;
      font-weight: 700;
      letter-spacing: -0.07em;
      @include adaptiveValue('font-size', 112, 48);

      // На мобильных — перенос в колонку
      @media (max-width: toEm($tablet)) {
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include adaptiveValue('width', 64, 32);
    @include adaptiveValue('height', 64, 32);
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__word {
    display: inline-block;
  }

  &__text {
    position: relative;
    display: inline-block;
    font-family: $fontSecondary;
    font-weight: 400;
    color: #7a808d;
    @include adaptiveValue('font-size', 112, 48);
    line-height: 1.1;
    letter-spacing: -0.05em;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      padding-top: 12px;
      transform: translateX(-50%);
      width: 100%; // линия равна ширине текста!
      height: 30px; // можно адаптировать
      background: url('@img/lines.svg') center/contain no-repeat;
      opacity: 0.9;
      pointer-events: none;
    }

    /* темна лінія */
    [data-fls-darklite-dark] &::after {
      background: url('@img/lines-dark.svg') center/contain no-repeat;
    }
  }
}

// ================

.project {
  @include adaptiveValue('padding-top', 128, 96);
  &__container {
    max-width: 100vw;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }
  // .project__slider

  &__slider {
  }

  // .project__slider-wrapper

  &__slider-wrapper {
  }

  // .project__slider-slide

  &__slider-slide {
    width: 712px; // максимальная ширина центрального слайда
    max-width: 90vw; // для адаптивности
    aspect-ratio: 712 / 534; // пропорции для desktop

    flex-shrink: 0;
    border-radius: 24px;
    overflow: hidden;

    @media (max-width: 768px) {
      // мобилка

      aspect-ratio: 1 / 1; // квадрат
      max-width: calc(100vw - 32px); // с учётом отступов
    }
  }

  // .project__controls
  &__controls {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    gap: 48px;

    @media (max-width: toEm($mobile)) {
      max-width: 180px;
    }
  }

  // .project__arrow

  &__arrow {
    width: 64px;
    height: 64px;
    flex: 0 0 auto;
    border-radius: 50%;
    background: #b2b7c3 url('@img/arrow-left.svg') center no-repeat;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: $hoverColor;
      }
    }

    @media (max-width: toEm($mobile)) {
      display: none;
    }

    &--right {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      background: #e3e6f0 url('@img/arrow-left.svg') center no-repeat;
      pointer-events: none;
      cursor: default;
    }
  }

  // .project__bullets
  &__bullets {
    @include adaptiveValue('column-gap', 24, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    --swiper-pagination-bullet-horizontal-gap: 0px;
    --swiper-pagination-bullet-inactive-opacity: 1;
  }
}

.swiper-pagination-bullet {
  transition: all 0.3s ease;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #b2b7c3;
  cursor: pointer;
  will-change: flex-basis; // подсказка браузеру
  transform: translateZ(0); // форсим GPU

  @media (max-width: toEm($mobile)) {
    flex-basis: 16px;
    height: 16px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $orangeColor;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 72px;

  @media (max-width: toEm($mobile)) {
    flex-basis: 48px;
  }
}

.swiper-slide-active {
  opacity: 1;

  .slide-project__info {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-project {
  // .slide-project__inner

  &__inner {
  }

  // .slide-project__picture

  &__picture {
  }

  // .slide-project__image

  &__image {
    width: 100%;
    object-fit: cover;
    display: block;

    @media (max-width: 768px) {
      // мобилка

      aspect-ratio: 1 / 1; // квадрат
      // max-width: calc(100vw - 32px); // с учётом отступов
    }
  }

  // .slide-project__info

  &__info {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;

    padding: 16px 24px;
    border-radius: 16px;

    backdrop-filter: blur(40px);
    background-color: rgba(32, 38, 56, 0.1);
    color: $mainColor;

    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--light {
      color: $lightTextColor;

      .slide-project__btn {
        border: 1px solid $lightTextColor;
      }
    }
  }

  // .slide-project__info-text

  &__info-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__info-text p {
    font-weight: 400;
    @include adaptiveValue('font-size', 24, 16);
    line-height: 1.35;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: toEm($mobile)) {
      line-height: 1.3;
    }
  }
  // .slide-project__title

  &__title {
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.05em;
  }

  // .slide-project__btn

  &__btn {
    border: 1px solid $mainColor;
    border-radius: 8px;
    padding: 8px 24px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.35;
    letter-spacing: -0.07em;
  }
}

// ============== About =================

.about {
  @include adaptiveValue('padding-top', 128, 96);
  // .about__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .about__title

  &__title {
    font-family: $fontSecondary;
    @include adaptiveValue('font-size', 112, 44);
    @include adaptiveValue('margin-bottom', 48, 32);
    display: block;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
    letter-spacing: -0.05em;

    span {
      color: #7a808d;
    }
  }

  // .about__cards

  &__cards {
    display: flex;
    @include adaptiveValue('gap', 24, 16);
    align-content: center;
    text-align: center;
    margin-bottom: 32px;

    @media (max-width: toEm($tablet)) {
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  // .about__card

  &__card {
    border: 1px solid rgba(89, 99, 111, 0.1);
    border-radius: 16px;
    padding: 16px 24px;

    backdrop-filter: blur(40px);
    background-color: #c2c6d2;

    flex: 1 1 30%;
    max-width: 467px;

    @media (max-width: toEm($tablet)) {
      // Отменяем ограничение, заданное на десктопе
      max-width: 100%;

      // Делаем карточку полной ширины.
      // В режиме column, чтобы занять всю доступную ширину по горизонтали,
      // достаточно установить width: 100% (или flex-basis: 100%).
      width: 100%;
    }
  }

  // .about__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue('gap', 32, 16);

    align-items: center;
    justify-content: center;
    max-width: 957px;
    @media (max-width: toEm($mobile)) {
      align-items: stretch; // <--- Это ключевой момент, чтобы все карточки стали одинаковой высоты
    }
  }

  // .about__item

  &__item {
  }
}

.card-about {
  font-weight: 400;
  // .card-about__block

  &__block {
  }

  // .card-about__tag

  &__tag {
    @include adaptiveValue('font-size', 24, 16);
    line-height: 1.35;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $orangeColor;
  }

  // .card-about__title

  &__title {
    @include adaptiveValue('font-size', 48, 32);
    @include adaptiveValue('margin-bottom', 32, 24);

    font-family: $fontSecondary;
    line-height: 1.1;
    letter-spacing: -0.05em;
  }

  // .card-about__text

  &__text {
    font-family: $fontSecondary;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }
}

.item-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 16px 32px;

  backdrop-filter: blur(40px);
  background-color: rgba(32, 38, 56, 0.55);

  @media (max-width: toEm($mobile)) {
    width: calc(50% - 12px);
    padding: 8px 18px;

    &:last-child {
      width: 100%;
    }
  }

  // .item-about__img

  &__img {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    width: 32px;
    height: 32px;

    @media (max-width: toEm($mobile)) {
      width: 26px;
      height: 26px;

      margin-bottom: 4px;
    }
  }

  &__icon {
    color: rgba($lightTextColor, 0.7);
    fill: none;
    width: 32px;
    height: 32px;

    @media (max-width: toEm($mobile)) {
      width: 26px;
      height: 26px;
    }
  }

  // .item-about__title

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.35;
    letter-spacing: -0.07em;
    text-align: center;
    color: $lightTextColor;

    @media (max-width: toEm($mobile)) {
      font-size: 16px;
    }
  }
}
