<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<main class="page page--home">
  <section class="page__hero hero">
    <div class="hero__container">
      <div class="hero__header">
        <span class="hero__subtitle">{TAILORED TO YOUR NEEDS}</span>

        <h1 class="hero__title">
          Development of
          <br />

          <strong class="hero__title-group">
            <span class="hero__word">CUSTOM</span>
            <span class="hero__icon" aria-hidden="true">
              <img src="@img/icons/Globe.svg" alt="" />
            </span>
            <span class="hero__word">WEBSITE</span>
          </strong>
        </h1>
        <div class="hero__text">
          <p>from scratch</p>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="project">
    <div class="project__container">
      <div data-fls-slider class="project__slider swiper">
        <div class="project__slider-wrapper swiper-wrapper">
          <article class="project__slider-card card-slide swiper-slide">
            <div class="card-slide__img">
              <img src="@img/1-2.jpg" alt="Image" loading="lazy" />
            </div>
            <div class="card-slide__content content-slide">
              <div class="content-slide__text">
                <div class="content-slide__tag">
                  <p>{DESIGN}</p>
                </div>
                <h3 class="content-slide__title">Studio Website</h3>
              </div>
              <div class="content-slide__link">
                <a href=""> Visit Site</a>
              </div>
            </div>
          </article>

          <article class="project__slider-card card-slide swiper-slide">
            <div class="card-slide__img">
              <img src="@img/2-2.jpg" alt="Image" loading="lazy" />
            </div>
            <div class="card-slide__content content-slide">
              <div class="content-slide__text">
                <div class="content-slide__tag">
                  <p>{DESIGN}</p>
                </div>
                <h3 class="content-slide__title">Studio Website</h3>
              </div>
              <div class="content-slide__link">
                <a href=""> Visit Site</a>
              </div>
            </div>
          </article>

          <article class="project__slider-card card-slide swiper-slide">
            <div class="card-slide__img">
              <img src="@img/3-2.jpg" alt="Image" loading="lazy" />
            </div>
            <div class="card-slide__content content-slide">
              <div class="content-slide__text">
                <div class="content-slide__tag">
                  <p>{DESIGN}</p>
                </div>
                <h3 class="content-slide__title">Studio Website</h3>
              </div>
              <div class="content-slide__link">
                <a href=""> Visit Site</a>
              </div>
            </div>
          </article>
          <article class="project__slider-card card-slide swiper-slide">
            <div class="card-slide__img">
              <img src="@img/1-2.jpg" alt="Image" loading="lazy" />
            </div>
            <div class="card-slide__content content-slide">
              <div class="content-slide__text">
                <div class="content-slide__tag">
                  <p>{DESIGN}</p>
                </div>
                <h3 class="content-slide__title">Studio Website</h3>
              </div>
              <div class="content-slide__link">
                <a href=""> Visit Site</a>
              </div>
            </div>
          </article>

          <article class="project__slider-card card-slide swiper-slide">
            <div class="card-slide__img">
              <img src="@img/2-2.jpg" alt="Image" loading="lazy" />
            </div>
            <div class="card-slide__content content-slide">
              <div class="content-slide__text">
                <div class="content-slide__tag">
                  <p>{DESIGN}</p>
                </div>
                <h3 class="content-slide__title">Studio Website</h3>
              </div>
              <div class="content-slide__link">
                <a href=""> Visit Site</a>
              </div>
            </div>
          </article>

          <article class="project__slider-card card-slide swiper-slide">
            <div class="card-slide__img">
              <img src="@img/3-2.jpg" alt="Image" loading="lazy" />
            </div>
            <div class="card-slide__content content-slide">
              <div class="content-slide__text">
                <div class="content-slide__tag">
                  <p>{DESIGN}</p>
                </div>
                <h3 class="content-slide__title">Studio Website</h3>
              </div>
              <div class="content-slide__link">
                <a href=""> Visit Site</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section> -->

  <section class="project">
=
      <div class="project__slider swiper">
        <div class="project__wrapper swiper-wrapper">
          
          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/2-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>
            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>

          </div>

          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/1-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>
            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>

          </div>

          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/3-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>

            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>
            <a href="">Visit site</a>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/2-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>
            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>

          </div>

          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/1-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>
            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>

          </div>

          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/3-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>

            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>
            <a href="">Visit site</a>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/2-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>
            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>

          </div>

          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/1-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>
            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>

          </div>

          <div class="project__slide swiper-slide">
            <div class="project__slide-img">
              <img
                src="@img/3-2.jpg"
                alt="Image"
                data-swiper-parallax-x="30%"
                loading="lazy"
              />
            </div>

            <div class="project__slide-content content-slide">
              <div class="content-slide__title">
                <p>{Development}</p>
                <h3>Designer Landing</h3>
              </div>
            </div>
            <a href="">Visit site</a>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
