.hero {
  @include adaptiveValue('padding-top', 210, 194);
  text-align: center;
  z-index: 1;

  &__container {
  }

  &__header {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  &__subtitle {
    font-weight: 400;
    letter-spacing: -0.07em;
    line-height: 1.35;
    text-transform: uppercase;
    color: $orangeColor;
    @include adaptiveValue('font-size', 24, 16);
    margin-bottom: 4px;
  }

  &__title {
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: $mainColor;
    @include adaptiveValue('font-size', 112, 48);

    @media (min-width: toEm($tablet)) {
      margin-bottom: -16px;
    }

    // Группа слов + иконка
    &-group {
      margin-top: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      color: $orangeColor;
      font-family: $fontFamily;
      font-weight: 700;
      letter-spacing: -0.07em;
      @include adaptiveValue('font-size', 112, 48);

      // На мобильных — перенос в колонку
      @media (max-width: toEm($tablet)) {
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include adaptiveValue('width', 64, 32);
    @include adaptiveValue('height', 64, 32);
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__word {
    display: inline-block;
  }

  &__text {
    position: relative;
    display: inline-block;
    font-family: $fontSecondary;
    font-weight: 400;
    color: #7a808d;
    @include adaptiveValue('font-size', 112, 48);
    line-height: 1.1;
    letter-spacing: -0.05em;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      padding-top: 12px;
      transform: translateX(-50%);
      width: 100%; // линия равна ширине текста!
      height: 30px; // можно адаптировать
      background: url('@img/lines.svg') center/contain no-repeat;
      opacity: 0.9;
      pointer-events: none;
    }

    /* темна лінія */
    [data-fls-darklite-dark] &::after {
      background: url('@img/lines-dark.svg') center/contain no-repeat;
    }
  }
}

// ================

.project {
  padding-top: 128px;
}

.swiper-container {
  max-width: 1920px;
  height: 720px;
  overflow: visible; // ВАЖНО
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  width: 569px;
  height: 569px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.slide-inner {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.slide-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-active .slide-inner {
  transform: scale(1.25);
  z-index: 2;
}

// ============== About =================

.about {
  @include adaptiveValue('padding-top', 128, 96);
  // .about__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .about__title

  &__title {
    font-family: $fontSecondary;
    @include adaptiveValue('font-size', 112, 44);
    @include adaptiveValue('margin-bottom', 48, 32);
    display: block;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
    letter-spacing: -0.05em;

    span {
      color: #7a808d;
    }
  }

  // .about__cards

  &__cards {
    display: flex;
    @include adaptiveValue('gap', 24, 16);
    align-content: center;
    text-align: center;
    margin-bottom: 32px;

    @media (max-width: toEm($tablet)) {
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  // .about__card

  &__card {
    border: 1px solid rgba(89, 99, 111, 0.2);
    border-radius: 16px;
    padding: 16px 24px;

    backdrop-filter: blur(40px);
    background-color: #c2c6d2;

    flex: 1 1 30%;
    max-width: 467px;

    @media (max-width: toEm($tablet)) {
      // Отменяем ограничение, заданное на десктопе
      max-width: 100%;

      // Делаем карточку полной ширины.
      // В режиме column, чтобы занять всю доступную ширину по горизонтали,
      // достаточно установить width: 100% (или flex-basis: 100%).
      width: 100%;
    }
  }

  // .about__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue('gap', 32, 16);

    align-items: center;
    justify-content: center;
    max-width: 957px;
    @media (max-width: toEm($mobile)) {
      align-items: stretch; // <--- Это ключевой момент, чтобы все карточки стали одинаковой высоты
    }
  }

  // .about__item

  &__item {
  }
}

.card-about {
  font-weight: 400;
  // .card-about__block

  &__block {
  }

  // .card-about__tag

  &__tag {
    @include adaptiveValue('font-size', 24, 16);
    line-height: 1.35;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $orangeColor;
  }

  // .card-about__title

  &__title {
    @include adaptiveValue('font-size', 48, 32);
    @include adaptiveValue('margin-bottom', 32, 24);

    font-family: $fontSecondary;
    line-height: 1.1;
    letter-spacing: -0.05em;
  }

  // .card-about__text

  &__text {
    font-family: $fontSecondary;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }
}

.item-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 16px 32px;

  backdrop-filter: blur(40px);
  background-color: rgba(32, 38, 56, 0.55);

  @media (max-width: toEm($mobile)) {
    width: calc(50% - 12px);
    padding: 8px 18px;

    &:last-child {
      width: 100%;
    }
  }

  // .item-about__img

  &__img {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    width: 32px;
    height: 32px;

    @media (max-width: toEm($mobile)) {
      width: 26px;
      height: 26px;

      margin-bottom: 4px;
    }
  }

  &__icon {
    color: #b6bbc7;
    width: 32px;
    height: 32px;

    @media (max-width: toEm($mobile)) {
      width: 26px;
      height: 26px;
    }
  }

  // .item-about__title

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.35;
    letter-spacing: -0.07em;
    text-align: center;
    color: $lightTextColor;

    @media (max-width: toEm($mobile)) {
      font-size: 16px;
    }
  }
}
