<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<main class="page page--home">
  <section class="page__hero hero">
    <div class="hero__container">
      <div class="hero__header">
        <span class="hero__subtitle">{TAILORED TO YOUR NEEDS}</span>

        <h1 class="hero__title">
          Development of
          <br />
          <strong class="hero__title-group">
            <span class="hero__word">CUSTOM</span>
            <span class="hero__icon" aria-hidden="true">
              <img src="@img/icons/Globe.svg" alt="" />
            </span>
            <span class="hero__word">WEBSITE</span>
          </strong>

          <div class="hero__text">
            <p>from scratch</p>
          </div>
        </h1>
      </div>
    </div>
  </section>

  <section class="projects">
    <div class="projects__content">
      <div class="swiper mySwiper" data-fls-slider>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</main>
