<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<main class="page page--home">
  <section class="page__hero hero">
    <div class="hero__container">
      <div class="hero__header">
        <span class="hero__subtitle">{TAILORED TO YOUR NEEDS}</span>
		
        <h1 class="hero__title">
          Development of
          <br />
          <strong
            >CUSTOM
            <span  aria-hidden="true">
              <svg class="" width="48" height="48">
                <use href="@img/icons/Globe.svg"></use>
              </svg>
            </span>
            WEBSITE</strong
          ><br />
          <div class="hero__text">
            <p>from scratch</з>
          </div>
        </h1>
      </div>
    </div>
  </section>
</main>
