//<INPUT>
// Сніппет (HTML): inp
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  &.--form-focus {
  }
  &.--form-error {
  }
}
.input[placeholder]:not([data-fls-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}
textarea.input {
}
