<div class="header__menu menu">
  <button type="button" data-fls-menu class="menu__icon icon-menu">
    <span></span>
  </button>
  <nav class="menu__body">
    <ul class="menu__list">
      <li class="menu__item">
        <a
          data-fls-button
          data-fls-scrollto=".project"
          data-fls-scrollto-top="30"
          href="#"
          class="menu__link"
          >Projects</a
        >
      </li>
      <li class="menu__item">
        <a
          data-fls-button
          data-fls-scrollto=".about"
          data-fls-scrollto-top=""
          href="#"
          class="menu__link"
          >Services</a
        >
      </li>

      <li class="menu__item">
        <a
          data-fls-button
          data-fls-scrollto=".footer"
          data-fls-scrollto-top=""
          href="#"
          class="menu__link"
          >Contact
        </a>
      </li>
    </ul>
  </nav>
</div>
