<footer data-fls-footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__header">
        <h2 class="footer__header-title">Ready <span>to discuss</span>?</h2>
        <div class="footer__header-text">
          Let's talk about how we can create a website that not only looks
          great, but also drives real growth for your business.
        </div>
      </div>

      <div class="footer__block">
        <div class="footer__block-form form-block">
          <h3 class="form-block__title">
            Fill the form <span>to discuss the project</span>
          </h3>
          <form data-fls-form action="#" class="form-footer__form form-footer">
            <label class="form-footer__label">
              Your name
              <input
                data-fls-input
                class="form-footer__input"
                type="text"
                name="name"
                id="name"
              />
            </label>

            <label class="form-footer__label">
              Phone
              <input
                data-fls-input
                class="form-footer__input"
                type="tel"
                name="tel"
                id="tel"
              />
            </label>
          </form>
          <button class="form-block__btn" type="submit">Submit</button>
        </div>

        <div class="footer__block-contacts contacts-block">
          <a href="tel:+380734990000" class="contacts-block__card">
            <div
              class="contacts-block__card-title contacts-block__card-title--phone"
            >
              {Phone}
            </div>
            <div class="contacts-block__card-link">+380734990000</div>
          </a>

          <a href="https://t.me/YevGenes" class="contacts-block__card">
            <div
              class="contacts-block__card-title contacts-block__card-title--phone"
            >
              {Telergam}
            </div>
            <div class="contacts-block__card-link">@YevGenes</div>
          </a>

          <a href="mailto:mail@mail.com" class="contacts-block__card">
            <div
              class="contacts-block__card-title contacts-block__card-title--phone"
            >
              {Email}
            </div>
            <div class="contacts-block__card-link">mail@mail.com</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
