.footer {
  @include adaptiveValue('padding-top', 128, 60);
  // .footer__container

  &__container {
  }

  // .footer__content

  &__content {
    border-radius: 16px;
    border: none;
    padding: 32px;
    backdrop-filter: blur(40px);
    background-color: #c2c6d2;
  }

  // .footer__header

  &__header {
    display: block;
    margin: 0 auto;

    text-align: center;
    max-width: 957px;

    @include adaptiveValue('margin-bottom', 48, 24);
  }

  // .footer__header-title

  &__header-title {
    @include adaptiveValue('font-size', 112, 48);
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: rgba(32, 38, 56, 0.5);

    @include adaptiveValue('margin-bottom', 24, 12);

    span {
      color: $mainColor;
    }
  }

  // .footer__header-text

  &__header-text {
    @include adaptiveValue('font-size', 32, 28);
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.05em;
  }

  // .footer__block

  &__block {
    display: flex;
    gap: 24px;
  }

  // .footer__block-form

  &__block-form {
  }

  // .footer__block-contacts

  &__block-contacts {
    flex: 1 1 581px;
    max-width: 581px;
  }
}

.form-block {
  border: 1px solid rgba(89, 99, 111, 0.2);
  border-radius: 10px;
  padding: 32px;
  background-color: rgba(32, 38, 56, 0.55);
  max-width: 803px;

  // .form-block__title

  &__title {
    @include adaptiveValue('font-size', 48, 32);
    font-family: $fontSecondary;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: $lightTextColor;
    margin-bottom: 32px;

    span {
      @include adaptiveValue('font-size', 32, 24);
      color: rgba(212, 216, 227, 0.5);
    }
  }

  // .form-block__btn

  &__btn {
    border-radius: 16px;
    padding: 16px 24px;
    background-color: $orangeColor;
    @include adaptiveValue('font-size', 32, 24);
    @include adaptiveValue('font-weight', 700, 500);
    @include adaptiveValue('line-height', 1.3, 1.35);
    letter-spacing: -0.07em;
  }
}

.form-footer {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  // .form-footer__label

  &__label {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.35;
    letter-spacing: -0.07em;
    color: $lightTextColor;
  }

  // .form-footer__input

  &__input {
    border: 1px solid rgba(212, 216, 227, 0.2);
    border-radius: 4px;
    padding: 15px;
    background-color: rgba(212, 216, 227, 0.4);
  }
}

.contacts-block {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  /* Создаем две колонки одинаковой ширины */
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  // .contacts-block__card

  &__card {
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &:last-child {
      grid-column: 1 / -1;
    }
  }

  // .contacts-block__card-title

  &__card-title {
    position: relative;
    gap: 4px;

    background-color: #d4d8e3;
    opacity: 0.7;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    letter-spacing: -0.07em;

    @include adaptiveValue('font-size', 24, 16);
    @include adaptiveValue('line-height', 1.35, 1.3);

    font-weight: 400;
    letter-spacing: -0.07em;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;

    &--phone {
      &::before {
        content: '';
        width: 32px;
        height: 32px;
        flex-shrink: 0;

        background-image: url('@img/phone.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  // .contacts-block__card-link

  .contacts-block__card-link {
    padding: 24px 8px;
    background-color: #444f5f;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
  }

  .contacts-block__card-link a {
    color: $orangeColor;
    @include adaptiveValue('font-size', 24, 16);
    @include adaptiveValue('line-height', 1.35, 1.3);

    font-weight: 500;
    letter-spacing: -0.07em;
    text-align: center;
  }
}
